@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

/* Jost */
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

/* Acme */
@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");

/* Merienda */
@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap");
/* Freeman */
@import url("https://fonts.googleapis.com/css2?family=Freeman&display=swap");

/* raleway */
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

/* passion one */
@import url("https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap");

/* DM Sans */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

/* Inter */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

/* Sedan */
@import url("https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

/* Bakbak */

@import url("https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap");

/* Kalam */
@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap");

/* Quicksand */

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

/* Milonga */

@import url("https://fonts.googleapis.com/css2?family=Milonga&display=swap");

/* Varela Varela*/
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
/* display  */
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap");
/* Cinzel */

/* REM */
@import url("https://fonts.googleapis.com/css2?family=REM:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap");
/* Alegreya */

@import url("https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap");

/* Serif */
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap");

/* Milonga */
@import url("https://fonts.googleapis.com/css2?family=Milonga&display=swap");

/* Dosis */
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap");

/* Roboto */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
/* Varela */
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
/* Merriweather */
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap");
/* Monoton */
@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
/* Rowdies */
@import url("https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap");
/* Concert */
@import url("https://fonts.googleapis.com/css2?family=Concert+One&display=swap");
/* Catamaran */
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&display=swap");
/* Signika */
@import url("https://fonts.googleapis.com/css2?family=Signika:wght@300..700&display=swap");
/* Titillium */
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");
/* Kalnia */
@import url("https://fonts.googleapis.com/css2?family=Kalnia+Glaze:wght@100..700&display=swap");
/* Work Sans */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
/* Cambay */
@import url("https://fonts.googleapis.com/css2?family=Cambay:ital,wght@0,400;0,700;1,400;1,700&family=Zen+Dots&display=swap");
/* Volkhov */
@import url("https://fonts.googleapis.com/css2?family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap");
/* Anton */
@import url("https://fonts.googleapis.com/css2?family=Anton+SC&display=swap");
/* Archivo */
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");
/* Anek-Tamil */
@import url('https://fonts.googleapis.com/css2?family=Anek+Tamil:wght@100..800&display=swap');
/* Mulish */
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
/* Kodchasan */
@import url('https://fonts.googleapis.com/css2?family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
/* Fira */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*News  */
@import url('https://fonts.googleapis.com/css2?family=News+Cycle:wght@400;700&display=swap');
/* Outfit */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
/* Prompt */
@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Actor */
@import url('https://fonts.googleapis.com/css2?family=Actor&display=swap');

@import url("https://fonts.googleapis.com/css2?family=Playwrite+AU+SA:wght@100..400&display=swap");

* {
  font-family: "DM Sans", sans-serif;
  /* background-color: #f7f9fb; */
}
.Anek-Tamil{
  font-family: "Anek Tamil", sans-serif;
}
.Prompt{
  font-family: "Prompt", sans-serif;
}
.Actor{
  font-family: "Actor", sans-serif;
}
.NewsCycle{
  font-family: "News Cycle", sans-serif;

}
.outfit{
  font-family: "Outfit", sans-serif;
}
.Mulish{
  font-family: "Mulish", sans-serif;
}
.Fira{
  font-family: "Fira Sans", sans-serif;
}
.Kodchasan{
  font-family: "Kodchasan", sans-serif;

}
.merriweather {
  font-family: "Merriweather Sans", sans-serif;
}
.Cambay {
  font-family: "Cambay", sans-serif;
}
.Anton {
  font-family: "Anton SC", sans-serif;
}
.Archivo {
  font-family: "Archivo Black", sans-serif;
}

.Volkhov {
  font-family: "Volkhov", serif;
}

.work {
  font-family: "Work Sans", sans-serif;
}
.Kalnia {
  font-family: "Kalnia Glaze", serif;
}

.cormorant {
  font-family: "Cormorant Garamond", serif;
}
.catamaran {
  font-family: "Catamaran", sans-serif;
}
.titillium {
  font-family: "Titillium Web", sans-serif;
}
.signika {
  font-family: "Signika", sans-serif;
}
.concert {
  font-family: "Concert One", sans-serif;
}
.rowdies {
  font-family: "Rowdies", sans-serif;
}
.monoton-font {
  font-family: "Monoton", sans-serif !important;
}
.playwrite {
  font-family: "Playwrite AU SA", cursive;
}
.varela-font {
  font-family: "Varela Round", sans-serif;
}
.dosis-font {
  font-family: "Dosis", sans-serif;
}
.cormorant-garamond-light {
  font-family: "Cormorant Garamond", serif;
}
.REM-font {
  font-family: "REM", sans-serif;
}
.roboto {
  font-family: "Roboto Slab", serif;
}

.dm-serif-text-regular {
  font-family: "DM Serif Text", serif;
}
.cinzel-font {
  font-family: "Cinzel", serif;
}
.alegreya-font {
  font-family: "Alegreya", serif;
}
.milonga-font {
  font-family: "Milonga", serif;
}
.dm-serif-display-regular {
  font-family: "DM Serif Display", serif;
}

.varela-round-font {
  font-family: "Varela Round", sans-serif;
}

.milonga-font {
  font-family: "Milonga", serif !important;
}

.quicksand-font {
  font-family: "Quicksand", sans-serif !important;
}
.bakbak-one-font {
  font-family: "Bakbak One", sans-serif;
}

.kalam-font {
  font-family: "Kalam", cursive;
}

.plus-jakarta-sans-font {
  font-family: "Plus Jakarta Sans", sans-serif !important;
}
.sedan-sc-font {
  font-family: "Sedan SC", serif !important;
}

.passion-one-font {
  font-family: "Passion One", sans-serif !important;
}

.title-font {
  font-family: "Exo 2", sans-serif !important;
}
.raleway-font {
  font-family: "Raleway", sans-serif !important;
}

.inter-font {
  font-family: "Inter", sans-serif !important;
}

.dm-sans-font {
  font-family: "DM Sans", sans-serif !important;
}

.jost-font {
  font-family: "Jost", sans-serif !important;
}

.freeman-font {
  font-family: "Freeman", sans-serif !important;
}

.merienda-font {
  font-family: "Merienda", cursive !important;
}

.acme-font {
  font-family: "Acme", sans-serif !important;
}

.poppins-font {
  font-family: "Poppins", sans-serif !important;
}
.pt-sans-narrow-regular-font {
  font-family: "PT Sans Narrow", sans-serif !important;
}

.drop-css {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.mtk8,
.mtk1,
.mtk2 .mtk3,
.mtk4,
.mtk5 {
  color: #569cd6 !important;
}
.mtk1 {
  color: #569cd6;
}
.invisible {
  z-index: 1 !important;
}
.rcp-field-label {
  display: none;
}
.rcp-field:nth-child(2) {
  display: none !important;
}

.rcp-field:nth-child(0) {
  display: none !important;
}
.tags a {
  display: inline-block;
  height: 24px;
  line-height: 24px;
  position: relative;
  padding: 0 10px 0 12px;
  background: #f19c1c;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 16px;
  /* font-family: "Lucida Grande","Lucida Sans Unicode",Verdana,sans-serif; */
  text-decoration: none;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.tags a:before {
  content: "";
  position: absolute;
  top: 0;
  left: -12px;
  width: 0;
  height: 0;
  border-color: transparent #f19c1c transparent transparent;
  border-style: solid;
  border-width: 12px 12px 12px 0;
}

.tags a:after {
  content: "";
  position: absolute;
  top: 10px;
  left: 1px;
  float: left;
  width: 5px;
  height: 5px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #fff;
  -webkit-box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.4);
  box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.4);
}
